<p id="notice"><%= notice %></p>

<h1 class="d-flex justify-content-center" role="alert">Notifications</h1>

<div class="alert alert-primary" role="alert">
  <p>
    <strong>Time</strong>
    <%= @notification.created_at.to_formatted_s(:db) %>
  </p>
  <hr>
  <p>
    <strong>Notification:</strong>
    <%= @notification.message %>
  </p>
</div>




<%= link_to 'Back', notifications_path %>
