<div class="container">
<h2 style="text-align:center">Publishers</h2>
<div class="row">
<%@publishers.each do |publisher|%>
<div class="col-4">
<a href="/publishers/<%=publisher.id%>">
<div class="card" style="width: 18rem;margin:10px">
  <div class="card-body">
    <h5 class="card-title" style="color:blue"><%=publisher.publisher_name%></h5>
  </div>
</div>
</a>
</div>
<%end%>
</div>
<%= will_paginate @publishers%>
</div>