/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require_tree .
*= require_self
 */
@import "bootstrap/dist/css/bootstrap";

 .admin-nav{
     font-size: 30px;
     text-decoration: none;
     color: black;
 }
 .pagination{
     padding-left: 400px;
 }
 .nav-link{
     color:black
 }
 
 .admin-book-img{
     height: 100px;
 }
 .left-nav {
     background-color: #252B36;
 }
 .admin-nav a{
     text-decoration: none;
     font-size: 18px;
     color: white;
 }
 .admin-nav{
    width: 100%;
    padding-left: 10px;
    border-radius: 5px;
    padding-bottom: 13px;
 }
 .admin-nav:hover{
     background-color: #3b414a;
 }
 .left-nav .active{
    background-color: #596782;
 }
 .left-nav .red a{
    color: rgb(221, 170, 170)
 }
 .dashboard{
     color: white;
 }
 .dashboard .icon{
     font-size: 32px;
     padding: 20px;
 }
 .dashboard .large-icon{
    font-size: 96px;
    padding: 20px;
}
 .dashboard .num{
     font-size: 28px;

 }
 .dashboard .large-num{
    font-size: 52px;

}
.block {
    margin: 0 10px 10px 0px !important;
}  
  .notification .badge {
    background-color: red;
    color: white;
}

 
