.signup{
    margin-left: 670px;
    padding: 20px;
}
.new_user {
    width: 400px;
    height: 420px;
    margin-right: auto;
    text-align: left;
    background-color:lightsteelblue;
    border-radius: 10px;
}
.field-signup {
    display: block;
    text-align: center;
    padding: 10px;
}
input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 25px;
}

.remember {
    padding-left: 15px;
}
input[type=submit]:hover{
    background-color: white;
   color: black;
}
.link {
    padding-left: 10px;
}

