<div class="container">
<h2 style="text-align:center">Categories</h2>
<div class="row">
<%@categories.each do |category|%>
<div class="col-4">
<a href="/categories/<%=category.id%>">
<div class="card" style="width: 18rem;margin:10px">
  <div class="card-body">
    <h5 class="card-title" style="color:blue"><%=category.name%></h5>
    <h6 class="card-subtitle mb-2 text-muted" style="color:blue"><%=category.description%></h6>
  </div>
</div>
</a>
</div>
<%end%>
</div>
<%= will_paginate @categories%>
</div>