<h1>Tạo tài khoản</h1>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/admin/users"><i class="fas fa-list"></i> Danh sách</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/admin/users/new"><i class="fas fa-plus"></i> Tạo mới</a>
  </li>
</ul>
<%= render 'form', user: @user %>

