<p>
  <strong>Returned date:</strong>
  <%= @borrow.returned_date %>
</p>

<p>
  <strong>Appointment returned date:</strong>
  <%= @borrow.appointment_returned_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @borrow.status %>
</p>

<%= link_to 'Back', borrows_path %>
